---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Pagination from '../../components/Pagination.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import { getCollection } from 'astro:content';

const POSTS_PER_PAGE = 3;
const currentPage = 1;

const posts = (await getCollection('posts')).sort(
  (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const totalPages = Math.ceil(posts.length / POSTS_PER_PAGE);
const paginatedPosts = posts.slice(0, POSTS_PER_PAGE);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{paginatedPosts.map((post) => (
						<li>
							<time datetime={post.data.pubDate}>
								{new Date(post.data.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={post.slug}>{post.data.title}</a>
						</li>
					))}
				</ul>
				<Pagination currentPage={currentPage} totalPages={totalPages} />
			</section>
		</main>
		<Footer />
	</body>
</html>
